:root {
    --page-bg: #f3f3f4;
    --item-bg: #ffffff;
    --item-hover-bg: #f9f9f9;
    --item-active-bg: #ececec;
    --border: #e5e5e5;
    --sender-text-color: #fff;
    --sender-bg: #0b93f6;
    --receiver-text-color: black;
    --receiver-bg: #fff;
    --divider: #e5e5e5;
    --accent-color: #208320;
    --highlight-color: #29a829;
    --active-color: #175e17;
    --transparent-bg: rgba(70, 70, 70, 0.6);
}

/**
    Font Color
**/
:root {
    --text-primary: black;
    --text-secondary: #3a3a3a;
    --text-accent: #208320;
}
