:root {
    --page-bg: #f3f3f4;
    --item-bg: #ffffff;
    --item-focus-bg: #d3d3d3;
    --border: #e5e5e5;
    --sender-text-color: #fff;
    --sender-bg: #0b93f6;
    --receiver-text-color: black;
    --receiver-bg: #fff;
    --divider: #E5E5E5;
    --accent-color: #208320;
    --highlight-color: #29a829;
    --active-color: #175e17;
}
